<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cheesybackend">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CheesyBackend">
        <activity
            android:name=".Checkout"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity
            android:name=".drinkPage"
            android:exported="true" />
        <activity
            android:name=".appetizerPage"
            android:exported="true" />
        <activity
            android:name=".entreePage"
            android:exported="false" />
        <activity
            android:name=".RestaurantPage"
            android:exported="false" />
        <activity
            android:name=".Payment"
            android:exported="true" />
        <activity
            android:name=".showRestaurants"
            android:exported="true" />
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>